* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/*.card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
*/

.img-style {
    height: 200px;
    width: 100%;
}

.card-deck {
    padding: 5%;
    margin-right: 0;
}

.but {
    margin-right: 45px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .carousel-img {
        height: 250px;
    }
    .letter {
        font-size: 20px
    }
    .img-style {
        height: 200px;
        width: 80%;
        margin-left: 10%;
    }
}

@media (min-width: 768px) and (max-width: 1480px) {
    .carousel-img {
        height: 350px;
    }
    .letter {
        font-size: 30px
    }
    .img-style {
        height: 200px;
        width: 80%;
        margin-left: 10%;
    }
}