.peer {
  width: 1170px;
  margin: 70px auto;
  background: #eee;
  font-size: x-large;
}
.sin-team {
  /* width:28%; */
  float: left;
  margin: 15px;
  box-shadow: 0 2px 20px rgb(61, 61, 99);
  padding: 15px;
  background: #262626;
  border-radius: 15px;
  color: black;
}
h1 {
  color: blue;
}
.sin-team img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
  margin: 40px 20px 30px 0;
  border: 5px solid #fff;
}
/* h3{
    text-align: center;
    text-decoration:underline;
    font-size: 70px;
    font-style: initial;
    text-shadow:5px 5px 5px rgb(13, 161, 13);
} */
p {
  color: rgb(12, 11, 11);
}
